button {
  aspect-ratio: 1 / 1;
  width: 11.11%;
  background-color: rgba(141, 141, 141, 0.687);
}

.GamePage__playerBoards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.gamePage__button {
  aspect-ratio: 1 / 1;
  height: 30px;
  width: 30px;
}
