.gamePage__player1 {
  aspect-ratio: 1 / 1;
  background-color: #889EAF;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.gamePage__player1-field {
  aspect-ratio: 1 / 1;
  width: 11.11%;
  border: 1px solid #506D84;
}

.gamePage__player2-field {
  aspect-ratio: 1 / 1;
  width: 11.11%;
  border: 1px solid #A84575;
}

.gamePage__player2 {
  aspect-ratio: 1 / 1;
  background-color: #BD74A0;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}
