.gamePage__player1 {
  background-color: #889EAF;
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
}

.gamePage__player1-field {
  width: 35px;
  height: 35px;
  border: 1px solid #506D84;
}

.gamePage__player2-field {
  width: 35px;
  height: 35px;
  border: 1px solid #A84575;
}

.gamePage__player2 {
  background-color: #BD74A0;
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
}
