.gamePage__player1--array {
  background-color: #889EAF;
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  position: absolute;
  left: 50px;
  top: 550px;
}

.gamePage__player1-field {
  /* width: 35px;
  height: 35px; */
  border: 1px solid #506D84;
}

.gamePage__player2-field {
  /* width: 35px;
  height: 35px; */
  border: 1px solid #A84575;
}

.gamePage__player2--array {
  background-color: #BD74A0;
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  position: absolute;
  left: 1550px;
  top: 550px;
}

.gamePage__player1,
.gamePage__player2 {
  display: flex;
}

.gamePage__player1--state {
  width: 130px;
  position: absolute;
  left: 380px;
  top: 700px;
}

.gamePage__player2--state {
  width: 130px;
  position: absolute;
  left: 1380px;
  top: 700px;
}

.gamePage__player {
  border: 2px solid #000000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 4px;
  background-color: #ffc43a;
  font-size: 24px;
}

.gamePage__currency {
  display: flex;
  align-items: center;
}
