main {
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main__div1 {
  display: flex;
  align-items: center;
  text-align: justify;
}

.main__div2 {
  padding: 0;
  text-align: justify;
}

img {
  width: 40%;
  height: auto;
}

.projectImg {
  padding-left: 20px
}

h2,
h3,
h4 {
  padding-left: 1rem;
}

p {
  flex: 1;
  margin-left: 1rem;
}
