.gameMenu {
  display: flex;
  flex-direction: column;
  width: 400px;
  color: black;
  padding-top: 250px;
  position: absolute;
  left: 750px;

}

.gameMenu__button {
  background-color: #A888AF !important;
  border: 1px solid #6F5084;
  color: black;
  border-radius: 3px;
  width: 100%;
  height: 2rem;
  margin-top: 5px;
  font-size: 1em;
}

.gameMenu__button-rotation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
