@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  background-color: #F7F4E1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

main {
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  display: flex;
}


.container {
  margin-top: 0;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
