.gameArrayTime {
  height: 100%;
  margin: 5rem 0 5rem 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative,

}

.gameArrayTime__array {
  aspect-ratio: 1 / 1;
  /* background-color: #889EAF; */
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 300px;
  left: 780px;
  z-index: 10;
}

.gameArrayTime__array-one {
  width: 37.5px;
  height: 37.5px;
  border: 1px solid blue;
}

.figures_1 {
  background-color: #889EAF;
  width: 30.2px;
  height: 30.2px;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 100;

}

.figures_2 {
  background-color: #BD74A0;
  width: 30.2px;
  height: 30.2px;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 100;

}
