.GameArrayTime {
  height: 100%;
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.GameArrayTime__array {
  aspect-ratio: 1 / 1;
  background-color: #889EAF;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.button {
  aspect-ratio: 1 / 1;
  width: 12.5%;
  border: 1px solid #506D84;
}
