.gameArrayTime {
  height: 100%;
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.gameArrayTime__array {
  aspect-ratio: 1 / 1;
  /* background-color: #889EAF; */
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 0;
  margin: 0;
}

.gameArrayTime__array-one {
  width: 37.5px;
  height: 37.5px;
  border: 1px solid blue;
}


/* .button {
  aspect-ratio: 1 / 1;
  width: 12.5%;
  border: 1px solid #506D84;
} */
